body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.descriptionHeader{
    text-align: center;
}

#legend{
    margin:0;
    padding:0;
    /*float:left; */
    position:relative;
}